<div id="about">
  <div class="background"/>
  <div class="about">
    <div>
      <div ng-init="ngLoaded = true" class="fade-in-out" ng-class="{ animate: ngLoaded }">
        <span class="a">A</span>
      </div>
      <div class="fade-in-out">
        <span class="b">B</span>
      </div>
      <div class="fade-in-out">
        <span class="o">O</span>
      </div>
      <div class="fade-in-out">
        <span class="u">U</span>
      </div>
      <div class="fade-in-out">
        <span class="t">T</span>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8 vcenter">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget imperdiet tellus. Praesent dictum
        aliquam interdum. Vestibulum eu libero sit amet mi feugiat bibendum. Integer commodo sollicitudin felis quis
        tincidunt. Aliquam maximus erat tellus, a tristique felis ullamcorper vel. Nunc vitae fermentum mauris. Cras
        placerat a sapien nec interdum. In venenatis elementum odio, vel porta metus volutpat sit amet. Sed ligula arcu,
        eleifend at tincidunt non, pulvinar vestibulum est.
      </p>
      <p> Vestibulum a dictum ex, vel posuere odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Sed tristique venenatis ipsum, non ultricies arcu blandit ac. Mauris aliquet sed est
        quis rhoncus. Mauris bibendum purus non leo porta auctor. Donec mattis quis tellus interdum vulputate. Nulla
        rhoncus justo non luctus iaculis. Suspendisse id blandit turpis. Sed sit amet est ut dolor accumsan vestibulum.
        Praesent erat sem, vehicula sit amet purus quis, finibus interdum libero. Donec rutrum erat vel malesuada
        eleifend. Nam et odio mauris. Ut rutrum a felis dapibus tincidunt. Cras id neque augue. Aliquam condimentum
        aliquet massa, a condimentum purus semper nec.
      </p>
    </div>
  </div>
</div>
